body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

form input, textarea {
  font-size: 14px;
  padding: 5px;
}

.task-complete {
  text-decoration: line-through;
  color: black;
}

.not-done {
  color: green;
}

.not-done p {
  color: black;
}

.center-flex {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.inner-container {
  flex: auto;
}


.task-item-default {
    height: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    border: 1px solid #000;
    margin: 5px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 3px;
}

.mark-complete-task {
  background: blue;
  color: #fff;
  border: 1px solid blue;
}

.mark-incomplete-task {
  background: green;
  color: #fff;
  border: 1px solid green;
}

.delete-task {
  background: red;
  color: #fff;
  border: 1px solid red;
}



.errors {
  color: red;
}
